<%@ Master Language="C#" AutoEventWireup="true" %>

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="minimal-ui, width=device-width,initial-scale=1, user-scalable=no">

	<link href="/system/template/v5/css/template.base.dev.css" rel="stylesheet" type="text/css" />
	<link href="/system/template/v5/css/template.responsive.dev.css" rel="stylesheet" type="text/css" />
	<link href="//cloud.typography.com/804448/791924/css/fonts.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
	window.afterLoad = [];
	</script>
	<asp:ContentPlaceHolder ID="MainHeadContent" runat="server" />

</head>

<body class=""><form name="form" runat="server" id="form" encType="multipart/form-data">



	<div class="page-container">

		<div class="menu">

			<div class="menu-overlay"></div>
		
			<div class="menu-button">
				<span class="menu-icon"><div class="a"></div><div class="b"></div><div class="c"></div></span><span>Menu</span>
			</div>

			<a href="/" class="logo"><img src="/system/template/v5/images/logo.svg"></a>

			<nav class="primary">

					<div class="close-button">
						<div class="close-icon"><div class="a"></div><div class="b"></div></div>
					</div>

					<div class="scrollable root"><div>
						<div class="forward-button"><i class="icon icon-arrow-right primary"></i><span></span></div>
						<h2><a href="/">UMass Lowell</a></h2>
						<uml:SCMegaMenu ID="MegaMenuSC" runat="server" />
					</div></div>

					<div class="scrollable current"><div>
						<a href="#" class="logo"><img src="/system/template/v5/images/logo.svg"></a>
						<div class="back-button"><i class="icon icon-arrow-left primary"></i><span></span></div>
						<asp:ContentPlaceHolder ID="SecondaryMenu" runat="server" />
					</div></div>
					
			</nav>
		</div>

		<div class="page">

			<asp:ContentPlaceHolder ID="PrimaryContent" runat="server" />


			<div style="display:none">
			
				<asp:ContentPlaceHolder ID="MainPreContent" runat="server" /> 
				
			</div>

			<div class="margin-clear"></div>

		</div>
	</div>
	<div class="float-clear"></div>


	<footer>
		<div class="col a"></div>
		<div class="col b">
			<h2>Menu</h2>
			<uml:SCMegaMenu ID="MegaMenuSC2" runat="server" /> 
		</div>
		<div class="col c">
			<a href="/" class="logo"><img src="/system/template/v5/images/logo-footer.svg"></a>
			<address>
				<asp:ContentPlaceHolder ID="FooterContent" runat="server"></asp:ContentPlaceHolder>
			</address>
		</div>

		<div class="float-clear"></div>

	</footer>


	<div class="overlay"></div>
 	

	<!-- ### Remove in Production 
	<script type="text/javascript" src="http://129.63.83.88:6542/livereload.js"></script>
	###-->
	<!-- ### Remove in Production ###-->

	<script src="/system/template/v5/js/template.dev.js" type="text/javascript"></script>
	<asp:ContentPlaceHolder ID="PostContent" runat="server" />

</form></body>

</html>