<%@ Page Language="C#" MasterPageFile="~/System/masterpages/V3.5Master.master" AutoEventWireup="true" Title="@@DisplayTitle@@ | UMass Lowell"%>

    <asp:Content ID="HeadContent" ContentPlaceHolderID="MainHeadContent" runat="Server">
        <title>@@DisplayTitle@@ | UMass Lowell</title>
    </asp:Content>

    <asp:Content ID="PreContent" ContentPlaceHolderID="MainPreContent" runat="Server">       
        
    </asp:Content>

    <asp:Content ID="SecondaryMenu" ContentPlaceHolderID="SecondaryMenu" runat="Server">       
        <uml:V35SecondaryMenu ID="SecondaryMenu1" runat="server" PageUri="@@Page.ID@@" />
    </asp:Content>

    <asp:Content ID="PrimaryContent" ContentPlaceHolderID="PrimaryContent" runat="Server">

        <div class="tools">
            <ul>
                <!--   
                <li><a href="#">Contact</a></li>
                <li><a href="#">iSiS</a></li>
                <li><a href="#">Email</a></li>
                <li><a href="#">Blackboard</a></li>
                <li><a href="#makeagift">Make a Gift</a></li>
                -->
                <li><a href="#search"><i class="icon icon-search white flip-horizontal"></i></a></li>
            </ul>
        </div>


        <!-- TemplateBeginIf cond="featureimage == null" -->
         <header class="">
        <!-- TemplateEndIf -->

        <!-- TemplateBeginIf cond="featureimage != null" -->
         <header class="has-banner">
            <div class="image" style="background-image:url('@@featureimage@@')"><img src="@@featureimage@@"/></div>
        <!-- TemplateEndIf -->

            <div class="page-title-container"><div class="page-title"><h1>@@DisplayTitle@@</h1></div></div>
        </header>

        <div class="components primary">
            <!-- TemplateBeginRepeat name="maincps" -->
            @@RenderComponentPresentation()@@
            <!-- TemplateEndRepeat -->
        </div>  

        <div class="components secondary">
            <!-- TemplateBeginRepeat name="helpercps" -->
            @@RenderComponentPresentation()@@
            <!-- TemplateEndRepeat -->
        </div>  


    </asp:Content>

    <asp:Content ID="FooterContent" ContentPlaceHolderID="FooterContent" runat="Server">
        <uml:GetFooter id="PageFooter1" runat="server" ComponentUri="@@footerid@@" />                    
        <!--SITE_EDIT_INIT-->
    </asp:Content>