@import "node_modules/ui-2/less/config/variables.less";


@ui-bp-small: @bp-small;
@ui-bp-medium: @bp-medium;
@ui-bp-large: @bp-large;
@ui-bp-xlarge: @bp-xlarge;
@ui-bp-xxlarge: @bp-xxlarge;

@ui-gutter-small: @gutter-small;
@ui-gutter-medium: @gutter-medium;
@ui-gutter-large: @gutter-large;
@ui-gutter-xlarge: @gutter-xlarge;
@ui-gutter-xxlarge: @gutter-xxlarge;


 

