@base:16px;

@r: unit(1/@base, rem);
@em: unit(1/@base, em);
@column: 100/12;
@print-margin:1in;

@color-primary:#94C948;
@color-primary-reverse:#fff;
@color-secondary:#f06e35;
//@color-secondary-reverse:#325B5E;
@color-secondary-reverse:#fff;
@color-tertiary:#fac537;
@color-tertiary-reverse:#fff;

@color-accent:#27a4fe;

@text-color:#424242;
@color-text:@text-color;
@color-text-dark:#222222;

@color-light:#e0e0e0;
@color-dark:#bbb;

@color-youtube: #cd201f;
@color-facebook: #3b5998;
@color-instagram: #3f729b;
@color-twitter: #55acee;


@color-blue:@color-primary;
@color-red:#b10404;
@color-purple:#3d04b1;
@color-green:#49b104;
@color-orange:#e98400;
@color-teal:#04afb1;
@color-yellow:#e9e600;
@color-brown:#8e5914;


@border-width:@r*1;
@border-color:#e3e3e3;


@ui-color-primary:@color-primary;
@ui-color-secondary:@color-secondary;


@icons-path:'../images/icons/';

@element-vertical-margin:  @r*16;
@element-horizontal-margin:  @r*16;
@element-vertical-padding: @r*8;
@element-horizontal-padding:  @r*16;

@anim-speed-quick:.10s;
@anim-speed-normal:.25s;
@anim-speed-long:1s;

//@element-size-small:

@bp-small: 0px;
@bp-medium: 640px; 
@bp-large: 768px;
@bp-xlarge: 1240px; 
@bp-xxlarge: 1500px;

@gutter-small:  @r*12;
@gutter-medium: @r*24;
@gutter-large: @r*24;
@gutter-xlarge: @r*24;
@gutter-xxlarge: @r*24; 

@v-gutter-small:  @r*24;
@v-gutter-medium: @r*24;
@v-gutter-large: @r*24;
@v-gutter-xlarge: @r*24;
@v-gutter-xxlarge: @r*24;

@v-gutter:@r*20;

@font-weight-light:200;
@font-weight-normal:normal;
@font-weight-semibold:600;
@font-weight-bold:bold;

@font-size-xxsmall: @r*10;
@font-size-xsmall: @r*12;
@font-size-small: @r*14;
@font-size: @r*16;
@font-size-normal:@font-size;
@font-size-large: @r*18;
@font-size-xlarge: @r*24;
@font-size-xxlarge: @r*45;

@font-primary-family:'Whitney SSm A', 'Whitney SSm B', sans-serif;
@ui-font-primary-family:@font-primary-family;
@font-primary-line-height:1.7;

@font-primary-size-xxsmall: @font-size-xxsmall;
@font-primary-size-xsmall: @font-size-xsmall;
@font-primary-size-small: @font-size-small;
@font-primary-size: @font-size-normal;
@font-primary-size-normal:@font-primary-size;
@font-primary-size-large: @font-size-large;
@font-primary-size-xlarge: @font-size-xlarge;
@font-primary-size-xxlarge: @font-size-xxlarge;

@font-secondary-family:'Sabon', Georgia, serif;
@font-secondary-line-height:1.7;
@font-secondary-size-xsmall: @r*10;
@font-secondary-size-small: @r*14;
@font-secondary-size: @r*32;
@font-secondary-size-normal:@font-secondary-size;
@font-secondary-size-large: @r*42;
@font-secondary-size-xlarge: @r*68;

.font-primary(){
	font-family: @font-primary-family;
	line-height: @font-primary-line-height;
}
.font-primary-short(){
	.font-primary();
	line-height: 1;
}

.font-secondary(){
	font-family: @font-secondary-family;
	line-height: @font-secondary-line-height;
    font-style: italic;
}
.font-secondary-short(){
	.font-secondary();
	line-height: 1;
}


@import "ui.less";








@nav-width:@r*200;