& when (@bp = @bp-small){





    .grid-overlay-wrapper{
        position: fixed;
        top:0;
        left: 0;
        width: 100vw;
        height: 100%;
        pointer-events: none;
        overflow: hidden;
        z-index: 99999;
    }
    .grid-overlay{
        position: absolute;

        top: 0px;
        height: 100%;
       
        
        font-size: 0;

        left:@gutter/2;
        right:@gutter/2;


        .column{
            .flex(1);
            position: relative;
            height: 100%;
            padding-left: @gutter/2;
            padding-right: @gutter/2;

            &:after{
                display: block;
                content: '';
                outline:1px solid fade(#0000ff, 30%);
                height: 100%;
                background-color:fade(#777, 5%);
                position: relative;
            }
        }




      &>div{
          position: absolute;
          width: 100%;
          height: 100%;
          
          &>div{
              position: absolute;
              width: 100%;
              height: 100%;
              .flex-display();
          }


      }

    }











}/*----------------------------------------------------------------------------------------------------------- end Small */
/*

88b           d88                     88 88
888b         d888                     88 ""
88`8b       d8'88                     88
88 `8b     d8' 88  ,adPPYba,  ,adPPYb,88 88 88       88 88,dPYba,,adPYba,
88  `8b   d8'  88 a8P_____88 a8"    `Y88 88 88       88 88P'   "88"    "8a
88   `8b d8'   88 8PP""""""" 8b       88 88 88       88 88      88      88
88    `888'    88 "8b,   ,aa "8a,   ,d88 88 "8a,   ,a88 88      88      88
88     `8'     88  `"Ybbd8"'  `"8bbdP"Y8 88  `"YbbdP'Y8 88      88      88


-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-medium){








    .grid-overlay{
        left:@gutter/2;
        right:@gutter/2;
        left: ~'calc(@{nav-width} + (@{gutter}/2))';

        .column{
            padding-left: @gutter/2;
            padding-right: @gutter/2;
        }
    }






}/*----------------------------------------------------------------------------------------------------------- end Medium */
/*

88
88
88
88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
88          ,adPPPPP88 88         8b       88 8PP"""""""
88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                   aa,    ,88
                                    "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-large){


    .grid-overlay{

        left:@gutter/2;
        right:@gutter/2;
        left: ~'calc(@{nav-width} + (@{gutter}/2))';
        .column{
            padding-left: @gutter/2;
            padding-right: @gutter/2;
        }
    }





}/*----------------------------------------------------------------------------------------------------------- end Large */
/*

            88
            88
            88
8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                               aa,    ,88
                                                "Y8bbdP"                                                                              
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-xlarge){








    .grid-overlay{

        left:@gutter/2;
        right:@gutter/2;
        left: ~'calc(@{nav-width} + (@{gutter}/2))';
        .column{
            padding-left: @gutter/2;
            padding-right: @gutter/2;
        }
    }






}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*

                        88
                        88
                        88
8b,     ,d8 8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'   `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(       )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,   ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                                           aa,    ,88
                                                            "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-xxlarge){







    .grid-overlay{

        left:@gutter/2;
        right:@gutter/2;

        left: ~'calc(@{nav-width} + (@{gutter}/2))';
        .column{
            padding-left: @gutter/2;
            padding-right: @gutter/2;
        }
    }




}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*
88888888ba             88
88      "8b            ""              ,d
88      ,8P                            88
88aaaaaa8P' 8b,dPPYba, 88 8b,dPPYba, MM88MMM
88""""""'   88P'   "Y8 88 88P'   `"8a  88
88          88         88 88       88  88
88          88         88 88       88  88,
88          88         88 88       88  "Y888
-------------------------------------------------------------------------------------------------*/
& when (@bp = 'print'){


.grid-overlay-wrapper{
    left: @print-margin;
    width: 6.5in;
}






}/*---------------------------------------------------------------------------------------------------------- end print */