& when (@bp = @bp-small){ @gutter:@gutter-small;

html{
    font-size: 100%;
}

body{
    color: @text-color;
    .font-primary();
    font-size: @font-size-normal;
    background-color: #fff;
    background-color:#f2f2f2;
    overflow: scroll;
    overflow-x: hidden;
}

body.no-scroll,
body.is-loading,
body.menu-open{
      overflow: hidden;
}


body.pattern-library{
  background: #F2F2F2;
  
}

body>form{
  overflow: hidden;
}


body{
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    .flex-display();
}


@media (max-width:(@bp-large - 1)){
    html::-webkit-scrollbar { width: 0 !important; }
}















}/*----------------------------------------------------------------------------------------------------------- end Small */
/*

88b           d88                     88 88
888b         d888                     88 ""
88`8b       d8'88                     88
88 `8b     d8' 88  ,adPPYba,  ,adPPYb,88 88 88       88 88,dPYba,,adPYba,
88  `8b   d8'  88 a8P_____88 a8"    `Y88 88 88       88 88P'   "88"    "8a
88   `8b d8'   88 8PP""""""" 8b       88 88 88       88 88      88      88
88    `888'    88 "8b,   ,aa "8a,   ,d88 88 "8a,   ,a88 88      88      88
88     `8'     88  `"Ybbd8"'  `"8bbdP"Y8 88  `"YbbdP'Y8 88      88      88


-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-medium){ @gutter:@gutter-medium;















}/*----------------------------------------------------------------------------------------------------------- end Medium */
/*

88
88
88
88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
88          ,adPPPPP88 88         8b       88 8PP"""""""
88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                   aa,    ,88
                                    "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-large){ @gutter:@gutter-large;











}/*----------------------------------------------------------------------------------------------------------- end Large */
/*

            88
            88
            88
8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                               aa,    ,88
                                                "Y8bbdP"                                                                              
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-xlarge){ @gutter:@gutter-xlarge;









}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*

                        88
                        88
                        88
8b,     ,d8 8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'   `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(       )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,   ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                                           aa,    ,88
                                                            "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-xxlarge){ @gutter:@gutter-xxlarge;







}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*
88888888ba             88
88      "8b            ""              ,d
88      ,8P                            88
88aaaaaa8P' 8b,dPPYba, 88 8b,dPPYba, MM88MMM
88""""""'   88P'   "Y8 88 88P'   `"8a  88
88          88         88 88       88  88
88          88         88 88       88  88,
88          88         88 88       88  "Y888
-------------------------------------------------------------------------------------------------*/
& when (@bp = 'print'){







html{
    font-size: 10pt;
}








}/*---------------------------------------------------------------------------------------------------------- end print */
