

@nav-background:#3B3E42;
@nav-color:#C1C4C9;
@nav-border-color:lighten(@nav-background, 15%);


& when (@bp = @bp-small){ @gutter:@gutter-small;

 
    nav.primary{

        background-color:@nav-background;
        color: @nav-color;

    }


    nav.primary .user{
        //height: @nav-width;
        margin-left: @gutter;
        margin-right: @gutter;


    }


 

}/*----------------------------------------------------------------------------------------------------------- end Small */
/*

88b           d88                     88 88
888b         d888                     88 ""
88`8b       d8'88                     88
88 `8b     d8' 88  ,adPPYba,  ,adPPYb,88 88 88       88 88,dPYba,,adPYba,
88  `8b   d8'  88 a8P_____88 a8"    `Y88 88 88       88 88P'   "88"    "8a
88   `8b d8'   88 8PP""""""" 8b       88 88 88       88 88      88      88
88    `888'    88 "8b,   ,aa "8a,   ,d88 88 "8a,   ,a88 88      88      88
88     `8'     88  `"Ybbd8"'  `"8bbdP"Y8 88  `"YbbdP'Y8 88      88      88


-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-medium){ @gutter:@gutter-medium;




    nav.primary{
        width: @nav-width;
        font-size: @r*14;
        //.get-col(width, 2, @gutter);
        //
        //
        

        h2{
            margin:0;
            padding:0;
            font-size: @r*12;
            text-transform: uppercase;
            color: @nav-border-color;
            margin-left: @gutter;
            margin-right: @gutter;
            line-height: 1;
            margin-bottom: @gutter/2;
        }

        ul{
            margin:0;
            padding:0;
            list-style: none;
            
            margin-bottom: @gutter;
            &:after{
                content: '';
                padding-top: @gutter/2;
                margin-left: @gutter;
                margin-right: @gutter;
                height: 1px;
                display: block;
                border-bottom: 1px solid @nav-border-color;
            }
        }

        li{
            list-style: none;
            padding:0;
            margin:0;

            a{
                display: block;
                color: inherit;
                text-decoration: none;
                padding-left: @gutter;
                padding-right: @gutter;
                padding-top: @gutter/2;
                padding-bottom: @gutter/2;
                line-height: 1;
                .transition(~'.25s');
                &:hover{
                    color:#fff;
                    background-color: fade(@nav-border-color, 25%);
                }
            }
        }

    }

    nav.primary .user{
        //height: @nav-width;
        padding-top: @gutter;
        padding-bottom: @gutter;
        margin-bottom: @gutter;
        margin-left: @gutter;
        margin-right: @gutter;
        .box-sizing(border-box);
        border-bottom: 1px solid @nav-border-color;

        .avatar{
            width: @nav-width * .5;
            height: @nav-width * .5;
            background-color: @nav-border-color;
            border-radius:100%;
            margin:auto;
            margin-bottom: @gutter/2;
        }

        .name{
            text-align: center;
            line-height: 1;
            .transition(~'.25s');
            &:after{
                content: '';
                display: inline-block;
                width: .5em;
                height: .5em;
                position: relative;
                .box-sizing(border-box);
                border-bottom: @r*2 solid currentColor;
                border-right: @r*2 solid currentColor;
                top: -.20em;
                margin-left: .5em;
                .rotate(45deg);
            }
        }

        .display{
            cursor: pointer;
            &:hover .name{
                color: #fff;
            }
        }

    }

}/*----------------------------------------------------------------------------------------------------------- end Medium */
/*

88
88
88
88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
88          ,adPPPPP88 88         8b       88 8PP"""""""
88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                   aa,    ,88
                                    "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-large){ @gutter:@gutter-large;





   nav.primary{
       // .get-col(width, 3, @gutter);
    }





}/*----------------------------------------------------------------------------------------------------------- end Large */
/*

            88
            88
            88
8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                               aa,    ,88
                                                "Y8bbdP"                                                                              
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-xlarge){ @gutter:@gutter-xlarge;

    nav.primary{
       // .get-col(width, 2, @gutter);
    }



}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*

                        88
                        88
                        88
8b,     ,d8 8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'   `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(       )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,   ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                                           aa,    ,88
                                                            "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-xxlarge){ @gutter:@gutter-xxlarge;


    nav.primary{
       // .get-col(width, 2, @gutter);
    }


}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*
88888888ba             88
88      "8b            ""              ,d
88      ,8P                            88
88aaaaaa8P' 8b,dPPYba, 88 8b,dPPYba, MM88MMM
88""""""'   88P'   "Y8 88 88P'   `"8a  88
88          88         88 88       88  88
88          88         88 88       88  88,
88          88         88 88       88  "Y888
-------------------------------------------------------------------------------------------------*/
& when (@bp = 'print'){











}/*---------------------------------------------------------------------------------------------------------- end print */
