& when (@bp = @bp-small){ @gutter:@gutter-small;


    header.global{
        background-color: #3D3D3D;
        height: @r* 48;
        position: fixed;
        width: 100%;
        z-index: 900;

/*        //shadow
        &:after{
            content: '';
            position: absolute;
            top:100%;
            left:0;
            width: 100%;
            height: @r*10;
            background-color: fade(#000,10%);
            background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.28) 30%, rgba(0,0,0,0.16) 54%, rgba(0,0,0,0) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(30%,rgba(0,0,0,0.28)), color-stop(54%,rgba(0,0,0,0.16)), color-stop(100%,rgba(0,0,0,0)));
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.28) 30%,rgba(0,0,0,0.16) 54%,rgba(0,0,0,0) 100%);
            background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.28) 30%,rgba(0,0,0,0.16) 54%,rgba(0,0,0,0) 100%);
            background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.28) 30%,rgba(0,0,0,0.16) 54%,rgba(0,0,0,0) 100%);
            background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.28) 30%,rgba(0,0,0,0.16) 54%,rgba(0,0,0,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
            opacity: .10;
        }*/


        //line
        &:before{
            content: '';
            position: absolute;
            top:100%;
            left:0;
            width: 100%;
            height: @r*1;
            background-color: fade(#000,10%);
        }

        &:after{
            content: '';
            display: block;
            clear: both;
        }

        .app-id{
            position: relative;
            left: 0;
            top: 0;
            //background-color: @color-primary;
            height: 100%;
            .icon-container{
                width: @r* 48;
                height: 100%;
                top:0;
                left: 0;
                position: absolute;
                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border:(@r*48)*.25 solid transparent;
                }
            }
            .name{
                font-size: @r*14;
                line-height: 1;
                font-weight: @font-weight-semibold;
                color:@color-primary;
                margin-left: @r* 48;
                margin-top: @r* ((48-18)/2) ;
            }
            .description{
                display: none;
                font-size: @r*14;
                line-height: 1.2;
                margin-left: @r* 48;
                opacity: .5;
                font-weight: @font-weight-light;
            }
        }


        .app-id,
        nav{
            float: left;
        }

    }
 

}/*----------------------------------------------------------------------------------------------------------- end Small */
/*

88b           d88                     88 88
888b         d888                     88 ""
88`8b       d8'88                     88
88 `8b     d8' 88  ,adPPYba,  ,adPPYb,88 88 88       88 88,dPYba,,adPYba,
88  `8b   d8'  88 a8P_____88 a8"    `Y88 88 88       88 88P'   "88"    "8a
88   `8b d8'   88 8PP""""""" 8b       88 88 88       88 88      88      88
88    `888'    88 "8b,   ,aa "8a,   ,d88 88 "8a,   ,a88 88      88      88
88     `8'     88  `"Ybbd8"'  `"8bbdP"Y8 88  `"YbbdP'Y8 88      88      88


-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-medium){ @gutter:@gutter-medium;





}/*----------------------------------------------------------------------------------------------------------- end Medium */
/*

88
88
88
88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
88          ,adPPPPP88 88         8b       88 8PP"""""""
88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                   aa,    ,88
                                    "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-large){ @gutter:@gutter-large;


    header.global{
        .app-id{
            .icon-container{
                img{
                    border:(@r*80)*.25 solid transparent;
                }
            }
        }

    }
    header.global{

        height: @r*80;

        .app-id{
            height: 100%;
            .get-col(width, 2, @gutter*2);
            border-right: 1px solid #eee;
            .icon-container{
                width: @r*80;
            }
            .name{
                margin-left: @r*80;
                margin-top: @r* 20;
                //margin-bottom: @r* 4;
                margin-top: @r* ((80-14)/2) ;
            }
            .description{
                margin-left: @r*80;
                display: block;
            }
        }


    }







}/*----------------------------------------------------------------------------------------------------------- end Large */
/*

            88
            88
            88
8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                               aa,    ,88
                                                "Y8bbdP"                                                                              
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-xlarge){ @gutter:@gutter-xlarge;



    header.global{

        .app-id{
            .get-col(width, 2, @gutter);
        }


    }




}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*

                        88
                        88
                        88
8b,     ,d8 8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'   `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(       )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,   ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                                           aa,    ,88
                                                            "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-xxlarge){ @gutter:@gutter-xxlarge;






}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*
88888888ba             88
88      "8b            ""              ,d
88      ,8P                            88
88aaaaaa8P' 8b,dPPYba, 88 8b,dPPYba, MM88MMM
88""""""'   88P'   "Y8 88 88P'   `"8a  88
88          88         88 88       88  88
88          88         88 88       88  88,
88          88         88 88       88  "Y888
-------------------------------------------------------------------------------------------------*/
& when (@bp = 'print'){











}/*---------------------------------------------------------------------------------------------------------- end print */
